##### pandas - DataFrame 클래스 : 행(row)과 열(column)로 이루어진 2차원 리스트이다.

In [2]:
import pandas as pd
# 1. 시리즈 결합해서 데이터프레임 만들기
index=["2018", "2019", "2020", "2021"]

younghee = pd.Series([143, 150, 157, 160], index=index)
cheolsu = pd.Series([165, 172, 175, 180], index=index)

growth = pd.DataFrame({
    '영희': younghee,
    '철수': cheolsu
})
growth

       영희   철수
2018  143  165
2019  150  172
2020  157  175
2021  160  180

In [1]:
# 2차원 리스트 데이터로 프레임 만들기
import pandas as pd

data = [[143, 165], [150, 172], [157, 175], [160, 180]]
index=["2018", "2019", "2020", "2021"]

growth = pd.DataFrame(data, columns=['영희', '철수'], index=index)
growth

       영희   철수
2018  143  165
2019  150  172
2020  157  175
2021  160  180

In [13]:
# 일반적인 데이터프레임 만들기
index=["2018", "2019", "2020", "2021"]

data = {
    '영희': [143, 150, 157, 160],
    '철수': [165, 172, 175, 180]
}

growth = pd.DataFrame(data, index=index)
# print(growth)
# print(growth.columns) #칼럼
# print(growth.values)  #값

# 열 선택
# print(growth['철수'])

# 열이름도 출력
# print(growth[['철수']])
print(growth[['영희', '철수']])

# 행 선택
# loc[행(문자)], iloc[행(숫자)]
print(growth.loc['2020'])
print(growth.iloc[2])

# 다중 행 선택
print(growth.loc[['2020', '2021']])
print(growth.iloc[[2, 3]])

       영희   철수
2018  143  165
2019  150  172
2020  157  175
2021  160  180
영희    157
철수    175
Name: 2020, dtype: int64
영희    157
철수    175
Name: 2020, dtype: int64
       영희   철수
2020  157  175
2021  160  180
       영희   철수
2020  157  175
2021  160  180

In [15]:
index=["2018", "2019", "2020", "2021"]

data = {
    '영희': [143, 150, 157, 160],
    '철수': [165, 172, 175, 180]
}

growth = pd.DataFrame(data, index=index)
print(growth)

# 특정 요소 1개 선택
# loc[행(문자), 열(문자)], iloc[행(숫자), 열(숫자)]
print(growth.loc['2020', '철수'])
print(growth.iloc[2, 1])

       영희   철수
2018  143  165
2019  150  172
2020  157  175
2021  160  180
175
175

In [27]:
index=["2018", "2019", "2020", "2021"]

data = {
    '영희': [143, 150, 157, 160],
    '철수': [165, 172, 175, 180]
}

growth = pd.DataFrame(data, index=index)
# print(growth)

# 열 추가 - 시현
growth['시현'] = [155, 160, 165, 170]
print(growth)

# 행 추가 - 2022년
growth.loc['2022'] = [162, 181, 172]
print(growth)

# 행 삭제 - 2020년
# 복사 - 원본 유지 (깊은 복사 - 원본과 별도로 삭제, 수정) - copy()
growth2 = growth.copy() 
growth2 = growth2.drop('2020', axis=0) #axis=0 생략 가능
print(growth2)

# 열 삭제 - '철수' 삭제
growth3 = growth.copy()
growth3 = growth3.drop('철수', axis=1)
print(growth3)

       영희   철수   시현
2018  143  165  155
2019  150  172  160
2020  157  175  165
2021  160  180  170
       영희   철수   시현
2018  143  165  155
2019  150  172  160
2020  157  175  165
2021  160  180  170
2022  162  181  172
       영희   철수   시현
2018  143  165  155
2019  150  172  160
2021  160  180  170
2022  162  181  172
       영희   시현
2018  143  155
2019  150  160
2020  157  165
2021  160  170
2022  162  172

In [49]:
# 얕은 복사와 깊은 복사
# 얕은 복사 - 복사본을 수정하면 원본도 수정된다.
# 깊은 복사 - 복사본을 수정해도 원본은 유지된다. copy()
a = [1, 2, 3, 4]
a
b = a  # a리스트에 b에 저장함
b
b[1] = 10
b
# print(a, b)

# 깊은 복사
c = [1, 2, 3, 4]
c
d = c.copy()
d
d[1] = 10
print(c, d)

[1, 2, 3, 4] [1, 10, 3, 4]

In [3]:
import pandas as pd

index=["2018", "2019", "2020", "2021"]

data = {
    '영희': [143, 150, 157, 160],
    '철수': [165, 172, 175, 180]
}

growth = pd.DataFrame(data, index=index)
growth
# # csv 파일 쓰기
# # growth.to_csv('./datas/growth.csv')

# # csv 파일 읽기 - to_read_csv(경로)
# growth = pd.read_csv('./datas/growth.csv', index_col=0)
# print(growth)

       영희   철수
2018  143  165
2019  150  172
2020  157  175
2021  160  180

In [9]:
import pandas as pd

# 인덱스를 칼럼이름으로 설정하기
data = {
    '연도': ["2018", "2019", "2020", "2021"],
    '영희': [143, 150, 157, 160],
    '철수': [165, 172, 175, 180]
}
growth = pd.DataFrame(data)
growth = growth.set_index('연도')
print(growth)

       영희   철수
연도
2018  143  165
2019  150  172
2020  157  175
2021  160  180

In [56]:
# 실습 2. 데이터 프레임 만들기
index = ['재천', '선영', '일성']

score = {
    '국어' : [90, 80, 70], 
    '수학' : [80, 75, 95],
    '영어' : [85, 95, 100]
}

df = pd.DataFrame(score, index=index)
print(df)

    국어  수학   영어
재천  90  80   85
선영  80  75   95
일성  70  95  100